<!DOCTYPE html>
<html lang="en" manifest="cache.appcache">
<head>
  <meta charset="utf-8">
  <title>Natasha, Pierre, and the Great Comet of 2048</title>

  <link href="style/main.css" rel="stylesheet" type="text/css">
  <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro:400,600,700' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="apple-touch-icon" href="meta/apple-touch-icon.png">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="keywords" content="HTML,CSS,Javascript,Make your own 2048,Play 2048,great comet,1812,war and peace">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, target-densitydpi=160dpi, initial-scale=1.0, maximum-scale=1, user-scalable=no, minimal-ui">
  <meta name="format-detection" content="telephone=no" />

  <meta property="og:title" content="Natasha, Pierre, and the Great Comet of 2048"/>
  <meta property="og:site_name" content="Natasha, Pierre, and the Great comet of 2048"/>
  <meta property="og:description" content="Chandeliers and caviar, the war can't touch us here!"/>
  <meta property="og:image" content="http://gabrielecirulli.github.io/2048/meta/og_image.png"/>
</head>
<body>



  <div class="container">
    <div class="heading">
      <h1 class="title">Natasha, Pierre, and the Great Comet of 2048</h1>
      <div class="scores-container">
        <div class="score-container">0</div>
        <div class="best-container">0</div>
      </div>
    </div>

    
    <div class="above-game">
      <a class="restart-button">New Game</a>
      <p class="game-intro">
      Use the arrow keys to slide tiles. Combine similar tiles to create new ones.</p>
    </div>

    <div class="pre-game">
    <iframe width="500" height="100" src="https://www.youtube.com/embed/videoseries?list=PLkYFvcY10s2QjbbC0h3oO3FXCTPvG5utG" frameborder="0" allowfullscreen></iframe>
    </div>


    <div class="game-container">
      <div class="game-message">
        <p></p>
        <div class="lower">
          <a class="retry-button">Play Again</a>
        </div>
      </div>

      <div class="grid-container">
        <div class="grid-row">
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
        </div>
        <div class="grid-row">
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
        </div>
        <div class="grid-row">
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
        </div>
        <div class="grid-row">
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
        </div>
      </div>

      <div class="tile-container">

      </div>
    </div>
    
    <hr>
    <p>
    This is a modified version of the <a href="http://gabrielecirulli.github.io/2048/" target="_blank">original game</a> created by Gabriele Cirulli.
    </p>
    <p class="game-explanation">
      <strong class="important"><a href="https://www.udacity.com/course/ud248" target="_blank">Make your own 2048</a></strong> 
    </p>

  </div>

  <script src="js/bind_polyfill.js"></script>
  <script src="js/classlist_polyfill.js"></script>
  <script src="js/animframe_polyfill.js"></script>
  <script src="js/keyboard_input_manager.js"></script>
  <script src="js/html_actuator.js"></script>
  <script src="js/grid.js"></script>
  <script src="js/tile.js"></script>
  <script src="js/local_storage_manager.js"></script>
  <script src="js/game_manager.js"></script>
  <script src="js/application.js"></script>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

</body>
</html>
